
body{
    background: #FFFFFF;
}

.image-wrap {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.image-wrap img {
  width: 100%;
  animation: move 40s ease;
  /* Add infinite to loop. */
  
  -ms-animation: move 40s ease;
  -webkit-animation: move 40s ease;
  /*-0-animation: move 40s ease;*/
  -moz-animation: move 40s ease;
  position: absolute;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */
    
    -webkit-transform: scale(1.0);
    /* Safari and Chrome */
    
    -o-transform: scale(1.0);
    /* Opera */
    
    -moz-transform: scale(1.0);
    /* Firefox */
  }
  100% {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
    
    -o-transform: scale(1.2);
    /* Opera */
    
    -moz-transform: scale(1.2);
    /* Firefox */
  }
}

/*.title {
    position: absolute;
    width: '-webkit-fill-available';
    overflow: hidden;
    margin: auto;
    
}*/

#first-header {
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
}

.getwhite{
  background-color: white;
}
#first-header-body {
	margin-top: 65px;
}

.container img {
	width: 250px;
	height: 250px;
	float: right;
	margin: 10px;
}
.jumbotron{
    background-image:    url(https://cdn.history.com/sites/2/2013/12/new-york-city-H.jpeg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
    text-align: center;
    border-style: solid;
}
 
.whitecolor, i{
  background-color: white;
  opacity: 0.5;
  border-width:5px;  
  border-style:solid;
  background-repeat: repeat-x;

 }


  
  
  
